.header7{
	width: 100%;
	height: 55px;
	background: rgb(33,73,126);
}
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
.row .col-md-6 .thumbnail{
	border-color: white;
}
.hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top: 20px;
}
.w33 #ime:active{
	color: white;
}
.font21{
	font-family: Arial;
	color: black;
	float: left;
	margin-left: 320px;
	margin-top: -150px;
}
.font22{
	font-family: Bernard MT Condensed;
	color: gray;
}
.font23{
	font-family: Bernard MT Condensed;
	color: black;
}
.row .col-md-6 .font1{
	font-family: Arial;
	color: black;
}
.row .col-md-6 .font2{
	font-family: Bernard MT Condensed;
	color: gray;
}
.row .col-md-6 .font3{
	font-family: Bernard MT Condensed;
	color: black;
}
.w3{
    background-color: gray;
    border: none;
	font-family:Bernard MT Condensed;
    color: rgb(46,46,46);
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.MojSlajder{
	box-shadow: 1px 1px 5px 5px gray;
}
.prati1{
	position: absolute;
	color: rgb(46,46,46);
	font-family: Bernard MT Condensed;
	font-size: 40px;
	margin-top: 345px;
	margin-left: 100px;
}
.logo123{
	position: auto;
	margin-left: 30px;
}
.footer{
	margin-top: -35px;
	width: 100%;
	height: 200px;
	background: rgb(33,73,126);
}
.sub-text{
	font-family: Bernard MT Condensed;
}
.text5{
	font-family: Bernard MT Condensed;
	font-size: 36px;
	text-decoration: none;
	color: rgb(46,46,46);
}
.text6{
	text-decoration: none;
	color: gray;
}
.sub-text{
	text-decoration: none;
	color: rgb(46,46,46);
}
.block {
  width: 70px;
  float: left;
  margin-left: 45px;
  margin-top: 280px;
  
}
.Istorija{
	margin-left: 17px;
}
.txtIme{
	margin-left: 51px;
}
.txtAdresa{
	margin-left: 30px;
}
.txtTelefon{
	margin-left: 23px;
}
.btnObrisi{
	font-family: Bernard MT Condensed;
	font-size: 24px;
	color: white;
	background-color: rgb(33,73,126);
	border-color: rgb(33,73,126);
}
.btnPotvrdi{
	font-family: Bernard MT Condensed;
	font-size: 24px;
	color: white;
	background-color: rgb(33,73,126);
	border-color: rgb(33,73,126);
}
a:link{
	text-decoration: none;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
#koloselector{
	background-color: white;
	border-color: rgb(33,73,126);
	font-family: Bernard MT Condensed;
	font-size: 20px;
}
.social-icon{
	margin-left: 70px;
	margin-top: 30px;
}
.fontprati{
	margin-left: 140px;
	font-family: Bernard MT Condensed;
	font-size: 36px;
	color: rgb(46,46,46);
}
.pagination{
		margin-left: 30px;
}
.timfont{
	font-family: Bernard MT Condensed;
	font-size: 26px;
}
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: rgb(72,124,197) url("../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#login-dp{
	margin-left: 50px;
	margin-top: 10px;
    min-width: 240px;
    padding: 15px 30px 0;
    overflow:hidden;
    background-color:rgb(33,73,126);
}
#login-dp .form-group {
    margin-bottom: 19px;
}
#login-bu{
	margin-top: -13px;
	font-size: 26px;
	font-family: Bernard MT Condensed;
	color: white;
	background-color: rgb(33,73,126);
	border: none;
}
#img-bu{
	margin-top: -12px;
}
.lgo{
    margin-left: -500px;
}
